/* nav bar css -----------> */

#indexNav {
  overflow: hidden;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 0 0 0
  padding-bottom: 2px;
  padding-top: 2px;
  margin-bottom: 2px;
  opacity: 0.9;
  z-index: 50;
  align-items: center;
}

#indexNav a {
  text-align: center;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.isDisabled {
  color: #000000;
  text-decoration: none;
  pointer-events: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#indexNav a:hover {
  color: #a2a6ad;
}

#nav ul {
    display: inline-block;
    list-style-type: none;
}

/* nav bar css end ---------> */

body {

  font-family: 'Montserrat', sans-serif;
  background-color: #000000;
  /* background-image: url("https://images.unsplash.com/photo-1547516204-f44352630050?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2534&q=80"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #FFFFFF;
}

.welcome {
  padding-top: 100px;
  font-family: 'Staatliches', cursive;
  font-size: 60px;
  letter-spacing: 3px;
  text-align: center;
}

.employee {
  padding-top: 20px;
  padding-left: 30px;
}

.new {
  padding-top: 20px;
  text-align: center;
}

.stylistName {
  font-size: 20px;
  text-transform: uppercase;
}

button {
  font-size: 10px;
}

.deleteButton {
  padding-top: 50px;
}

.clientList {
  font-size: 20px;
  letter-spacing: 2px;
}

a {
  color: pink;
  /* font-size: 3em; */
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  color: #a2a6ad;
  text-decoration: none;
}

.backButton{
  padding-top:
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
