/* *{
  border: 1px solid red;
} */

/* nav bar css -----------> */

#indexNav {
  background-color: #000000;
  overflow: hidden;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 0 0 0
  padding-bottom: 2px;
  padding-top: 2px;
  margin-bottom: 2px;
  opacity: 0.9;
  z-index: 100;

}

#indexNav a {
  text-align: center;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.isDisabled {
  color: #000000;
  text-decoration: none;
  pointer-events: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#indexNav a:hover {
  color: #a2a6ad;
}

#nav ul {
    display: inline-block;
    list-style-type: none;
}

/* nav bar css end ---------> */

body {

  font-family: 'Montserrat', sans-serif;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #FFFFFF;
}

.welcome {
  padding-top: 100px;
  font-family: 'Staatliches', cursive;
  font-size: 60px;
  letter-spacing: 3px;
  text-align: center;
}

.employee {
  padding-top: 20px;

}

.new {
  padding-top: 20px;
  text-align: center;
}

.stylistName {
  font-size: 20px;
  text-transform: uppercase;
}

#button {
  margin-top: 50px;
}

#deleteButton {
  margin-top: 50px;
}

.clientList {
  font-size: 20px;
  letter-spacing: 2px;
}

a {
  color: pink;
  /* font-size: 3em; */
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  color: #a2a6ad;
  text-decoration: none;
}

.backButton{
  padding-top: 30px;
}

.outline {
  border: 1px solid white;
  padding: 30px;
  margin-left: 400px;
  margin-right: 400px;
  /* padding-top: 20px; */
}

label {
  padding-right: 10px;
  padding-top: 10px;
}

#btnStylistDelete {
  margin-top: 50px;
  margin-bottom: 50px;
}

#btnClientDelete {
  margin-top: 20px;
}

/* ul {
    list-style-type: none;
}​ */

.subHeading {
  font-family: 'Staatliches', cursive;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}
