<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hair Salon</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>

  <body>
    <h2>Stylist: @Model["stylist"].StylistName</h2>

    <h3>Clients:

      foreach(var client in Model)
      {
        <ul>
          <li><a href="/stylists/{stylistId}/clients/{clientId}">@client.ClientName</a></li>
        </ul>
      }

    </h3>

    <form action='/stylists/@Model["stylist"].GetId()/edit' method='get'>
      <button type="submit">Edit this stylist</button>
    </form>
    <br>

    <form action='/stylists/@Model["stylist"].GetId()/clients/new' method='get'>
      <button type="submit">Add a new client</button>
    </form>
    <br>

    <form action='/stylists/@Model["stylist"].GetId()/delete' method='post'>
      <button type="submit">Delete this stylist</button>
    </form>
    <br>

    <form action='/stylists/@Model["stylist"].GetId()/clients/delete' method='post'>
      <button type="submit">Delete all clients</button>
    </form>

  </body>
</html>
